.grid_example .parent {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.blue{
    background: cornflowerblue;
}

.coral{
    background: lightcoral;
}

.box{
    padding: 1.5em 1em;
    border-radius: 1em;
}

.flex_example .parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex_example  .box{
    flex: 1 1 150px;
    margin: 5px;
}


.min_max_parent{
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(150px, 25%) 1fr;
}
